<a href="https://colab.research.google.com/github/gadamsravya/ATCC/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = "/content/KOT_Data_Modified.csv"
df = pd.read_csv(file_path)
print(df.columns)

Index(['KOT#', 'RestaurantName', 'Classification', 'KOT Time', 'Tbl/Room#',
       'ItemName', 'Rate', 'Quantity', 'Total Amount', 'Bill No',
       'RestaurantName.1', 'Classification.1', 'Type', 'ClassName'],
      dtype='object')

In [ ]:
print(df.head)

<bound method NDFrame.head of       KOT# RestaurantName Classification  ...  Classification.1 Type ClassName
0    160.0  Home Delivery           FOOD  ...               NaN  NaN       NaN
1    160.0  Home Delivery           FOOD  ...               NaN  NaN       NaN
2    161.0  Home Delivery           FOOD  ...               NaN  NaN       NaN
3    161.0  Home Delivery           FOOD  ...              Food    I       1.0
4    162.0  Home Delivery           FOOD  ...              Food    I       1.0
..     ...            ...            ...  ...               ...  ...       ...
983    NaN            NaN            NaN  ...               NaN  NaN       NaN
984    NaN            NaN            NaN  ...               NaN  NaN       NaN
985    NaN            NaN            NaN  ...               NaN  NaN       NaN
986    NaN            NaN            NaN  ...               NaN  NaN       NaN
987    NaN            NaN            NaN  ...               NaN  NaN       NaN

[988 rows x 14 columns]>

In [ ]:
column_selected = ['KOT#', 'RestaurantName', 'Classification', 'ItemName', 'Rate', 'Quantity']
data = df[column_selected]
data = data.dropna()